---

---

<header id="header" class="border-default text-default fixed top-0 z-20 w-full items-center justify-between border-b px-8 py-4">
<a href="/">Home</a>
<a href="/contact">Contact</a>
</header>
